{% extends "base.html" %}
{% block content %}

<div class="hero-slider">
  <img class="hero-slide active" src="/static/img/home/hero1.jpg">
  <img class="hero-slide" src="/static/img/home/hero2.jpg">
  <img class="hero-slide" src="/static/img/home/hero3.jpg"> 
  <div class="hero-dots"></div>
</div>

<h1>OutStanding</h1>
<p>公式インスタ</p>
<div class="home-instagram">
  <a href="https://www.instagram.com/outstanding_paka/" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/instagram.png" alt="Instagram">
    <span>@outstanding_paka</span>
  </a>
</div>

{% endblock %}
